@charset "utf-8";
*{margin:0;padding:0;list-style:none;font-size:12px;}

.notice{width:298px;height:98px;margin:10px;border:1px solid #eee;overflow: hidden;}
.notice li a:link,.notice li a:visited{text-decoration:none;color:#000;}
.notice li a:hover{color:#f90;}
.notice-title{ height:27px;position:relative;background-color:#f7f7f7;}
.notice-title ul{position:absolute;width:301px;left:-1px;}
.notice-title li{float:left;width:58px;height:26px;line-height:26px;text-align:center;overflow:hidden;background-color:#f7f7f7;border-bottom:1px solid #eee;padding:0 1px;}
.notice-title li.select{background:#fff;border-bottom-color:#fff;border-left:1px solid #eee;border-right:1px solid #eee;padding:0;font-weight:bolder;}

.notice-con .mod{margin:10px 6px;  }
.notice-con .mod ul li{float:left;width:143px;height:25px;overflow:hidden;}











