@charset "utf-8";
/*Reset样式 公共样式*/
body, button, input, select, textarea {font: 12px "宋体","Helvetica","sans-serif";}
body .top-nav-wrap {  font: 12px "宋体",Arial; }
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {margin: 0; padding: 0;}
table,tr,td{ border:0;border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-weight:normal;font-style:normal; }
h1, h2, h3, h4, h5 {font-size: 100%;font-weight: normal;}
.em{text-indent:2em;}
ol,ul{ list-style:none; }
li {list-style: none outside none;}
fieldset, img, a img{border: 0 none;}
caption,th{ text-align:left; }
abbr,acronym{ border:0; }
textarea {resize: none;}
abbr, acronym {border: 0 none;font-variant: normal;}
a{text-decoration: none;outline-style:none;color:#00349a;}
a:hover {/*text-decoration: underline;*/color:#ff4901;}
.clearfix:after, .ro:after{content:".";display:block;font-size: 0;height:0;clear:both;visibility:hidden}
.clear{clear:both;*overflow:hidden;}
.text-overflow {/*display:block;*/width:100%;word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-overflow-li {word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-ellipsis{white-space:nowrap;/*设置不折行*/ text-overflow:ellipsis;-o-text-overflow: ellipsis;/*兼容opera*/overflow: hidden;}
.fl{float:left;}
.fr{float:right;}

/*lightbox 图片画廊样式*/
#G-lightbox-mask{display:none;position:fixed;_position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity: 0.5;filter:alpha(opacity=50);z-index: 10000;  }

#G-lightbox-popup{display:none;position:fixed;_position:absolute;left:50%;z-index: 10001;}
#G-lightbox-popup .lightbox-pic-view{position:relative;border:5px solid #fff;border-radius:3px;overflow:hidden;background:#fff url("../icon/loading.gif") no-repeat center center;}
#G-lightbox-popup .lightbox-pic-view .lightbox-btn{cursor:pointer;position:absolute;top:0;width:40%;;height:100%;z-index: 1;background:url("../icon/transparent.png") repeat left top;_background-image:url("../icon/transparent.gif");}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn{left:0;}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn{right:0;}
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn-show{background: url("../icon/prev.png") no-repeat left center;_background-image:url("../icon/prev.gif")}
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn-show{background: url("../icon/next.png") no-repeat right center;_background-image:url("../icon/next.gif")}
#G-lightbox-popup .lightbox-pic-view .lightbox-image{ display: block; }

#G-lightbox-popup .lightbox-pic-caption{position:relative;z-index:99;zoom:1;margin:0 5px;margin-top:-60px;background-color:#000;opacity: 0.5;filter:alpha(opacity=50); }
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area{color:#fff;padding:10px 5px;}
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area .lightbox-of-index{ color:#999;}
#G-lightbox-popup .lightbox-pic-caption .lightbox-close-btn{position: absolute;right:10px;top:10px;width:27px;height:27px;cursor:pointer;background: url("../icon/close.png") no-repeat center center;_background-image:url("../icon/close.gif")}








