
    #footerNew ol, #footerNew ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: visible !important;
    }

    #footerNew div {
        overflow: visible !important;
    }

    .w950 {
        width: 950px;
    }

    .w1000 {
        width: 1000px;
    }

    #footerNew {
        font: 12px/2.0em "SimSun","宋体","Arial Narrow",HELVETICA;
        text-align: left;
        margin:0 auto;
    }

        #footerNew .footLink {
            height: 148px;
            background-color: #f3f3f3;
            border-top: 2px solid #2f5895;
        }

            #footerNew .footLink .link_item {
                border-right: 1px solid #dddddd;
                height: 130px;
                width: 140px;
                margin: 10px 0 0;
                padding: 0 10px;
                float: left;
                display: inline;
                position: relative;
            }

        #footerNew .w1000 .link_item {
            width: 150px;
        }

        #footerNew .footLink .link_item li {
            color: #676767;
            padding: 0 7px;
        }

        #footerNew .footLink .noborder {
            border: none;
        }

        #footerNew .footLink .smallWidth {
            width: 110px;
        }

        #footerNew .footLink h2 {
            margin: 0;
            padding: 0;
            font: 14px/2.0em "宋体";
            font-weight: bold !important;
            padding: 0 7px;
        }

        #footerNew a {
            text-decoration: none;
            color: #676767;
        }

            #footerNew a:link {
                color: #676767;
            }

            #footerNew a:hover {
                text-decoration: underline;
                color: #c00;
            }

        #footerNew .dc2016, #footerNew .jj2016, #footerNew .icon_wb, #footerNew .icon_wx, #footerNew .icon_h, #footerNew .icon_a, #footerNew .n1, #footerNew .n2, #footerNew .n3, #footerNew .n4, #footerNew .n5, #footerNew .n6, #footerNew #weixin_s, #footerNew #weixin_j, #footerNew .icp, #footerNew .gongwang {
            background: url("http://cmsjs.eastmoney.com/public/footer/images/footer.png") no-repeat;
        }

        #footerNew .footLink .link_item.dc2016 {
            width: 120px;
            height: 130px;
            background-position: 15px -100px;
        }

        #footerNew .footLink .link_item .dfcf2 {
            display: inline-block;
            width: 120px;
            height: 22px;
            padding: 108px 0 0 0;
            text-align: center;
        }

        #footerNew .footLink .jj2016 {
            width: 100px;
            height: 130px;
            background-position: -115px -100px;
        }

        #footerNew .icon_wb {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-position: 0 -232px;
            vertical-align: middle;
        }

        #footerNew .icon_wx {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-position: -20px -232px;
            vertical-align: middle;
        }

        #footerNew .icon_h {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-position: -40px -232px;
            vertical-align: middle;
        }

        #footerNew .icon_a {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-position: -60px -231px;
            vertical-align: middle;
        }

        #footerNew .footLink .noborder {
            width: 170px;
        }

            #footerNew .footLink .noborder ul li a {
                display: inline-block;
            }

        #footerNew .n1 {
            background-position: 0 0;
        }

        #footerNew .n2 {
            background-position: -130px 0;
        }

        #footerNew .n3 {
            background-position: 0 -50px;
        }

        #footerNew .netP p a.n4 {
            background-position: -130px -50px;
            width: 50px;
        }

        #footerNew .netP p a.n5 {
            background-position: -190px -50px;
            width: 50px;
        }

        #footerNew .netP p a.n6 {
            background-position: 0 -358px;
            width: 186px;
        }

        #footerNew .footCopy {
            margin: 5px 0;
        }

            #footerNew .footCopy p {
                color: #333;
                text-align: center;
                margin: 0;
            }

            #footerNew .footCopy .icp {
                background-position: -190px -350px;
                padding-left: 15px;
                display: inline-block;
            }

            #footerNew .footCopy .gongwang {
                background-position: -188px -374px;
                padding-left: 20px;
                display: inline-block;
            }

                #footerNew .footCopy .gongwang a {
                    color: #333;
                }

                    #footerNew .footCopy .gongwang a:hover {
                        color: #c00;
                    }

        #footerNew .contact {
            height: 30px;
            line-height: 30px;
            padding: 0;
            text-align: center;
            background-color: #2f5895;
        }

            #footerNew .contact p {
                width: 840px;
                margin: 0 auto;
            }

                #footerNew .contact p a {
                    width: 84px;
                    color: #fff;
                    display: inline-block;
                    overflow: hidden;
                }

                    #footerNew .contact p a:hover {
                        background-color: #0b3472;
                        color: #fff;
                        transition: background-color .3s ease-in-out 0s;
                    }

        #footerNew .netP p {
            text-align: center;
            margin: 10px 0;
        }

            #footerNew .netP p a {
                width: 110px;
                height: 50px;
                display: inline-block;
                overflow: hidden;
                margin: 0 4px;
            }

        #footerNew #weixin_s {
            width: 86px;
            height: 106px;
            position: absolute;
            display: none;
            background-position: -154px -244px;
            top: 47px;
            right: -5px;
        }

        #footerNew #weixin_j {
            width: 86px;
            height: 106px;
            position: absolute;
            display: none;
            background-position: 0px -252px;
            top: 70px;
            right: -5px;
        }
