html body{
	font-size: 12px;
	margin: 0;
	padding: 0;
}
table{
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}
tbody{
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
td,th{
	display: table-cell;
	vertical-align: inherit;
}
.tbindexdata,.tbindexdata table{
	width: 100%;
}
.tbindexdatasubtitle{
	width: 100px;
	border-bottom: solid 2px #c2110b;
	font-size: 16px;
	padding-bottom:3px;
	padding-left:10px;
	font-family: 'Microsoft Yahei';
}
.indexsubmore{
	border-bottom: solid 1px #ccc;
	text-align: right;
	padding-right: 15px;
}
.indexsubtable td{
	height: 28px;
	text-align: left;
	vertical-align: bottom;
	font-family: SimSun;
	padding-left: 5px;
	padding-right: 5px;
}
.quote-dn{
	color: #090;
}
.quote-up{
	color: red;
}