*{
	margin: 0;
	padding: 0;
}
body{
	font:12px 宋体,Helvetica,sans-serif;
}
/* a{
	text-decoration: none;
	outline-style: none;
	color: #00349a;
} */
.tabList{
	float: left;
	width: 660px;
	overflow: hidden;
	
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.w126{
	width: 126px;
}
.vTabs.w126 {
	width: 146px;
}
.f1 {
	float: left;
	display: inline;
	overflow: hidden;
}
.vTabs ul{
	margin: 10px 0;
}
.tabList .vTabs ul li{
	float: none;
	text-align: left;
	height: 29px;
	line-height: 29px;
	padding-left: 10px;
	width: 124px;
}
.vTabs li.active, .vTabs li.active, .vTabs .active a{
	background:url(../images/vtab_active1.png) no-repeat scroll 100px center #3a5e95;
	color: #fff;
}

.tabList ul li{
	font-family: Arial;
	overflow: hidden;
}
.vTabs li{
	background-color: #eee;
	font-size: 12px;
	margin: 10px 0;
}
li{
	list-style: none outside none;
	display: list-item;
}
.vTabs li a {
    background-color: #eee;
    display: inline-block;
    line-height: 20px;
    color: #484848;
    height: 29px;
    line-height: 29px;
    text-decoration: none;
    width: 100%;
}


.w437{
	width: 437px;
}
.vContent.w437.fr {
    width: 480px;
}
.vContent {
    padding: 10px 10px 0 20px;
    overflow: hidden;
}
.fr {
    float: right;
    display: inline;
}
.vContent .item h2 {
    margin: 5px 5px 8px;
    text-align: center;
    font-size: 14px;
    
}

.vContent .item h2 a{
color:#000;	
}

.vContent .item h2 a:hover {color:#ff4901;}
.vContent .item {
    /* height: 215px; */
    overflow-y: auto;
}
.vContent .item p {
    text-indent: 2em;
    line-height: 22px;
    height: 155px;
    overflow:hidden;

}
