/*global*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, a, blockquote, th { margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ol, ul { list-style: none; }
table {border-collapse: collapse;border-spacing: 0px;}
fieldset, img { border: 0; }
body {margin:0px auto 0px; color:#000000;font: 12px "微软雅黑","黑体",Arial;}
html{ height:100%; width:100%;}
/*清除浮动 start*/
.clearfix:after {content:".";display:block;height:0;clear:both; visibility:hidden;}
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }


.chartInfo{width:1000px;overflow: hidden;}
.chartInfo .options{float:left;width:210px;margin:10px 20px 20px;}
.chartInfo .options .title{float:left;margin-right:10px;height:23px;line-height:23px;}
#vote_result,#contrast{float:left;width:60px;}














