@charset "utf-8";
body{background: #FFFFFF; font-size: 12px; color: #484848; font-family: "宋体", Arial;}
body, form, ul, p, table, tr, td{margin: 0px; padding: 0px;}
table, tr, td{border: 0; border-collapse: collapse;}
ul, li{list-style: none; list-style-image: none;}
a{outline-style: none; color: #00349a; text-decoration: none;}
a:hover{text-decoration: underline; color: #ff4901;}
.hotMagazine a:hover{text-decoration: underline; color: #ff4901;}
a img{border: 0px;}
.em{text-indent: 2em;}
.titA{color: #000;}
.titA:hover{color: #000;}
.titAHover{color: #000;}
.titAHover:hover{color: #ff4901;}
.other .red{color: #ff4901;}
.noUnderline:hover{text-decoration: none;}
.mTabs{width:310px;height:25px; border-bottom:1px solid #BBD4E8;}
.mTabs ul{height:25px;width:310px;}
.mTabs ul li{cursor:pointer; line-height:25px; height:25px; display:block;width:50px;text-align:center; margin-left:-1px; float:left; border-bottom:1px solid #BBD4E8; border-left:1px solid #BBD4E8; border-right:1px solid #BBD4E8;}
.mTabs ul .active{font-weight:600;background:#fff; position:relative;z-index:2; top:0px;_top:1px; height:26px;border-bottom: none;}
.mTabs ul #CSI{margin-left:0px;}
.mTabs ul li a{color:#484848;}
.mTabs ul li a:link{color:#484848;}
.mTabs ul #FOREX{width:53px;text-align:center;}
.mContents{/*border: 1px solid #BBD4E8;*/ width: 308px; height: 234px;}
.mContents div{margin-top: 4px;}
.mContents dl{margin: 0px;}
.mContents dt{height: 28px; overflow: hidden;}
.mContents dt.active{display: none;}
.mContents .grey dt{/*background:#F9FAFC;*/}
.mContents dt li{float: left; line-height: 28px; width: 58px; text-align: right; /*background:#ccc;*/ font-family: Arial, '宋体';}
.mContents dt li.nowprice{width: 85px; font-size: 16px; font-weight: bold;}
.mContents dt li.sname{text-align: left; width: 60px; padding-left: 15px; font-family: '微软雅黑', '黑体';}
.mContents dt li.sname a{color: #545454;}
.mContents dt li span{display: block; float: right; padding: 0 5px;}
.mContents dd{width: 308px; margin: 0px; overflow: hidden; border-bottom: 1px solid #E4F3FF; position: relative;}
.mContents dd cite{float: left; width: 240px; height: 140px; background: url(http://g1.dfcfw.com/g1/201209/20120927171246.gif) no-repeat center;}
.mContents dd img{padding-top: 3px; padding-left: 10px;}
.mContents dd .links{float: left; border: 1px solid #E4F3FF; border-top: none;}
.mContents dd .links li{background: #F9FBFC; border-top: 1px solid #E4F3FF; font-size: 12px;}
.mContents dd .links li a{padding: 0 4px;}
.mContents dd .sinfo{float: left; width: 45px; position: absolute; top: 16px; right: 0;}
.mContents dd li i{color: #000; font-style: normal;}
.mContents dd li{float: none; height: 24px; line-height: 24px; color: #545454;}
.mContents .rup,
.mContents .rdown{color: #f00;}
.mContents .gdown,
.mContents .gup{color: #008000;}
.mContents .rup .rup,
.mContents .rdown .rdown{background: #F9E0E1;}
.mContents .gdown .gdown,
.mContents .gup .gup{background: #E1FCE1;}
.titleBox{width: 310px; border-bottom: 2px solid #2F5895; height: 30px; margin: 0 auto;}
.titleBox h3{float: left; margin-left: 13px; font-size: 18px; font-family: "微软雅黑", "宋体";}
.titleBox .more{float: right; font-size: 12px; margin-top: 8px; margin-right: 5px;}
.mContents dd .links li a{color: #484848;}
.mContents dd .links li a:link{color: #484848;}