@charset "utf-8";
body, ul, a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 12px;
	font-family: "Microsoft Yahei";
}

img {
	border: 0;
}

#banner {
	width: 420px;
	height: 280px;
	border: 2px solid #8a6d3b;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}

#banner .imgList {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

#banner .imgList li {
	float: left;
	height: 280px;
}

#banner .circleList {
	position: absolute;
	bottom: 15px;
	left: 50%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 0px;
}

#banner .circleList li {
	float: left;
	width: 10px;
	height: 10px;
	text-align: center;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;
	margin: 0 5px;
	font-size: 0;
}

#banner .circleList li.on {
	background-color: #eea236;
}

#banner > span {
	position: absolute;
	top: 50%;
	z-index: 99;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	line-height: 40px;
	cursor: pointer;
}

#banner > span:hover {
	background: rgba(0, 0, 0, 0.6);
	font-weight: bold;
}

#banner .btn-prev {
	left: 5%;
}

#banner .btn-next {
	right: 5%;
}














