@charset "utf-8";
*{margin:0;padding:0;}
#main{margin:0 auto;position: relative;}
#main .box{padding:15px 0 0 15px;float:left;}
#main .pic{padding:10px;border:1px solid #ccc;border-radius:5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;}
#main .box img{width:165px;height:auto;}


