@charset "utf-8";
@import "reset.css";

.red{color:#f00 !important;}

.dataContent{width:1000px;overflow: hidden;margin:30px auto;}
.dataContent .tab1{border-top:#bbd4e8 1px solid;border-left:1px solid #bbd4e8;width:100%;margin-bottom:0;}
.dataContent .tab1 th,
.dataContent .tab1 td{text-align:center;border-bottom:1px solid #bbd4e8;border-right:1px solid #bbd4e8;line-height:24px;font-family:Arial;color:#333;font-weight:normal;}
.dataContent .tab1 th{background-color:#ebf6ff;line-height:20px;height:35px;font-weight: bold;}

.dataContent .tab1 tbody tr.over td{background-color:#DEF0F6!important;}

.dataContent table.tab1 tr.over td {
    background-color: #DEF0F6!important;
}

.PageNav {
    clear: both;
    display: block;
    margin: 15px 0 10px;
    overflow: hidden;
    font-size: 14px!important;
}
.PageNav .Page {
    float: left;
    font-size: 12px;
    line-height: 14px;
    left: 50%;
    position: relative;
}

.PageNav .Page span, .PageNav .Page a, .PageNav .Page input {
    float: left;
    margin: 0 2px;
    padding: 4px 8px 2px;
    position: relative;
    right: 50%;
    border: 1px solid #A7BACB;
    display: inline;
}
.PageNav .Page a {
    background: #FFF;
    color: #3669ba;
    text-decoration: none;
    vertical-align: middle;
}
.PageNav .Page span {
    font-weight: bold;
    color: #FFF;
    border: 1px solid #38628B;
    background: #38628B;
}


.PageNav .Page span.txt {
    border: 1px solid #fff;
    color: #000;
    background: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0;
    height: 22px;
    line-height: 20px;
}
.PageNav .Page input {
    border: 1px solid #999;
    width: 30px;
    padding: 3px 2px 2px;
    margin: 0;
    margin: 0 3px;
}
.PageNav .Page a.btn_link {
    color: #000;
    cursor: pointer;
    border: 1px solid #999;
    background: url(../images/elem_cache.gif) repeat-x;
    background-position: 0 -75px;
}


.PageNav .Page a:hover {
    border: 1px solid #286eb4;
}
.PageNav .Page a.nolink {
    color: #777;
    cursor: default;
    border: 1px solid #A7BACB;
}






































