@charset "utf-8";
body {
    margin: 0px 0 4px 0;
    padding: 0;
    background: #FFF;
    font-size: 12px;
    color: #484848;
    font-family: 宋体;
}

div, form, img, ul, ol, li, dl, dt, dd, h2, b, td {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

a {
    color: #039;
    text-decoration: none;
}

img {
    vertical-align: top;
}

.goodzt .piczt img {
    width: 360px;
    height: 240px;
}

.notopline {
    border-top: medium none;
}

.blueline {
    border: 1px solid #aec5d7;
}

.areacont {
    margin-bottom: 10px;
}

.goodzt {
    padding: 10px;
}

.goodzt .piczt {
    float: left;
    margin-top: 3px;
}

.goodzt .morezt {
    width: auto;
    font-size: 14px;
    padding: 0px 5px;
    _margin-left: 360px;
}

.areacont ul {
    margin: 0px;
    padding: 12px 10px 11px 10px;
    list-style: none;
    width: 85%;
    overflow: hidden;
}

.goodzt .morezt li {
    line-height: 26px;
    background: none;
    border-bottom:1px dashed #ccc;
    _width: 273px;
}

.areacont ul li {
    line-height: 24px;
    white-space: nowrap;
    background: url(../images/ztbg.gif) no-repeat 0px -12px;
    padding-left: 15px;
}

.goodzt .morezt li.check {
    background: url(../images/ztbg.gif) no-repeat 0px -321px;
}
.goodzt .morezt li.check a{font-size: 18px; color:#f00;}




















