@charset "utf-8";
/*Reset样式 公共样式*/
body, button, input, select, textarea {font: 12px "微软雅黑","Helvetica","sans-serif";}
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {margin: 0; padding: 0;}
table,tr,td{ border:0;border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-weight:normal;font-style:normal; }
h1, h2, h3, h4, h5 {font-size: 100%;font-weight: normal;}
ol,ul{ list-style:none; }
li {list-style: none outside none;}
fieldset, img, a img{border: 0 none;}
caption,th{ text-align:left; }
abbr,acronym{ border:0; }
textarea {resize: none;}
abbr, acronym {border: 0 none;font-variant: normal;}
a{text-decoration: none;outline-style:none;color:#00349a;}
a:hover {/*text-decoration: underline;*/color:#ff4901;}

.clearfix:after{content:".";display:block;font-size: 0;height:0;clear:both;visibility:hidden}
.clear{clear:both;*overflow:hidden;}
.text-overflow {/*display:block;*/width:100%;word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-overflow-li {word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-ellipsis{white-space:nowrap;/*设置不折行*/ text-overflow:ellipsis;-o-text-overflow: ellipsis;/*兼容opera*/overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.em{text-indent:2em;}

/*登录*/
#divLogin{width:300px;height:200px;position:absolute;top:45%;left:50%;margin-left:-150px;margin-top:-100px;border:1px solid #000000;}
#divLogin h3{display: block;padding-left:20px;height:40px;font-size:18px;line-height:40px;font-weight:bold;background-color:#bbd4e8;border-bottom:1px solid #aaaaaa;}

#divLogin .content{padding:10px 20px;font-size:14px;}
#divLogin .content .group{margin-bottom:10px;}
#divLogin .content .btnCenter{width:100%;margin-bottom:10px;overflow:hidden;}
#divLogin .content .btnCenter .btn{float:left;display: inline;padding:5px 15px;margin-right:20px;cursor:pointer;}

.clsTip{position:absolute;right:0;top:0;background-color:#cccccc; }

/*聊天室*/
.divShow{border:1px solid #cccccc;height:300px;padding:5px;font-size:12px;overflow:scroll;}
#divMain{border:1px solid #ccc;width:1000px;margin:30px auto;}
#divMain .divtop{padding:10px;overflow: hidden;}
#divMain .divtop .divL{float:left;width:800px;}
#divMain .divtop .divR{float:right;width:160px;}

#divMain .divBot{padding:10px;display: block;}
#divMain .divBot table{width:100%;}
#divMain .divBot table .pb{height:30px;line-height:30px;}
#divMain .divBot table td .txt{width:798px;height:58px;}
#divMain .divBot table .pl{width:180px;height:60px;margin:0;padding:0;border:0;}
#divMain .divBot table .pl .btn{float:left;margin-left:10px;width:70px;height:58px;border:none;cursor:pointer;font:normal 16px bold;color:#fff;background-color:#eea236}
#divMain .divBot table .pt{height:30px;line-height:30px;}
