
body {
    background: #FFFFFF;
    font-size: 12px;
    color: #484848;
    font-family: "宋体",Arial;}
a {
    outline-style: none;
    color: #00349a;
    text-decoration: none;
}
a img {
    border: 0px;
}
body, form, ul, p, table, tr, td {
    margin: 0px;
    padding: 0px;
}
ul, li {
    list-style: none;
    list-style-image: none;
}
.page {
    margin: 0px auto;
    width: 1000px;
}
.page #header {
    float: left;
    margin-top: 0px;
}
#header .mainFrame {
    float: left;
    width: 1000px;
}
#header .mainFrame .logo {
    height: 50px;
}
#header .mainFrame .logo .logo_img {
    float: left;
    padding-left: 12px;
    padding-top: 5px;
    margin-top: 8px;
}
#header .mainFrame .logo .logo_img .advert_top {
    margin-left: 78px;
    line-height: 28px;
    text-decoration: underline;
}
#header .mainFrame .logo .expand {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

#header .mainFrame .logo .expand span {
    float: left;
    display: block;
    margin: 12px 6px 0;
}
#header b.icoX {
    background: url("../imagesV2/element.png") no-repeat -98px -225px;
    width: 22px;
    height: 22px;
    float: left;
}
#header .mainFrame .logo .expand a {
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 16px;
    vertical-align: middle;
    margin: 5px 0 0 4px;
}
#header b.M {
    background: url("../imagesV2/element.png") no-repeat -101px -250px;
    width: 22px;
    height: 22px;
    float: left;
}
#header .mainFrame .logo .remark {
    float: right;
    height: 40px;
    z-index: 10000;
    line-height: 24px;
    margin-top: 7px;
    text-align: right;
}
#header .mainFrame .logo .remark ul {
    float: right;
    line-height: 22px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 0px;
}
.inp-search {
    position: relative;
    top: 0px;
    z-index: 1000;
}
.inp-search .sim-select {
    float: left;
    display: inline;
    position: relative;
    width: 75px;
    height: 28px;
    _height: 28px;
    border: 1px solid #3A5E95;
    border-right: 0px;
    /* border-radius: 3px 0 0 3px; */
    margin-top: 3px;
    background: #fff url(../imagesV2/bg1px.png) 74px -218px no-repeat;
}
.inp-search .sim-select h3 {
    text-align: left;
    position: relative;
    top: -14px;
    _top: 3px;
    z-index: 1000;
    line-height: 28px;
    _line-height: 23px;
    font-weight: normal;
    font-size: 14px;
    background: url(../imagesV2/icon.png) 55px -340px no-repeat;
    background-position-y: -838px;
    padding-left: 15px;
    cursor: pointer;
    float: left;
    display: inline;
    width: 59px;
}
.define-select {
    height: 124px;
    padding: 0;
    vertical-align: top;
    float: left;
    z-index: 9999;
    _display: inline-block;
    position: relative;
    _position: absolute;
    top: -28px;
    _top: 28px;
    background-color: #fff;
    left: -1px;
}

.define-select ul {
    z-index: 10000;
    width: 74px;
    border: 1px solid #3A5E95;
    padding: 0;
    text-align: center;
    margin: 0;
}
.define-select ul {
    border-top: none;
}
.define-select ul li {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #3A5E95;
    cursor: pointer;
    height: 30px;
    _height: 26px;
    line-height: 30px;
    _line-height: 26px;
    list-style: none outside none;
    padding: 0;
    width: 74px;
}
.define-select ul .over {
    color: #e77802;
    background-color: #cde2f8;
}
.define-select ul li a {
    margin-left: -16px;
    font-size: 14px;
    font-family: "宋体",Arial;
    color: #484848;
}
.define-select ul .l {
    border-bottom: none;
}
.inp-search .inp-txt-wrap {
    border: 1px solid #3A5E95;
    float: left;
    display: inline;
    margin-top: 3px;
    border-radius: 0;
    height: 28px;
    width: 210px;
    border-left: 0px;
    font-size: 14px;
    position: relative;
    z-index: 1;
}
.seach-div {
    float: left;
    height: 30px;
    _height: 28px;
}
.inp-search input {
    background-color: white;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}
.inp-search .inp-txt {
    width: 196px;
    color: #666;
    margin: 0;
    height: 28px;
    _height: 25px;
    _line-height: 25px;
    line-height: 28px;
    padding: 0px 0 0px 14px;
    border: 0px;
    font-size: 14px;
    _height: 26px;
    _line-height: 26px;
    font-family: "Arial","SimSun","宋体";
}
.btnNew {
    float: left;
    margin-top: 3px;
    cursor: pointer;
}
.btnNew {
    background-color: #4F78BD;
    height: 30px;
    _height: 30px;
    width: 64px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}