body {
    background: #FFFFFF;
    font-size: 12px;
    color: #484848;
    font-family: "宋体", Arial;
}
body, form, ul, p, table, tr, td {
    margin: 0px;
    padding: 0px;
}
ul, li {
    list-style: none;
    list-style-image: none;
}
a {
    outline-style: none;
    color: #00349a;
    text-decoration: none;
}
.page {
    width: 280px;
    height: 1592px;
    vertical-align: top;
    background: #FAFCFE;
}

.page .Pannel {
    float: left;
    margin-top: 10px;
}

.titleTop {
    float: left;
    width: 280px;
    height: 35px;
    border-top: 2px solid #2F5895;
    border-bottom: 1px solid #E4F3FF;
}

.titleTop .title2Name {
    color: black;
    height: 34px;
    line-height: 34px;
    float: left;
    margin-left: 13px;
    font-size: 18px;
    font-family: "微软雅黑";
}

.titA {
    color: #000;
}

.titleTop .more {
    float: right;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 5px;
}

.rollbox {
    width: 280px;
    height: 153px;
    overflow: hidden;
    position: relative;
}

.roll {
    width: 100%;
    height: 153px;
    position: absolute;
    left: 0;
    top: 0;
}
.rollimglist .l1 {
    height: 153px;
    position: absolute;
    left: 10px;
    top: 19px;
    z-index: 9;
}
.rollimglist .l1 img {
    width: 164px;
    height: 92px;
    overflow: hidden;
}

.rollimglist .l2 {
    height: 153px;
    position: absolute;
    left: 45px;
    top: 12px;
    z-index: 10;
}

.rollimg {
    position: absolute;
    cursor: pointer;
}
.rollimglist .l3 {
    height: 153px;
    position: absolute;
    left: 106px;
    top: 19px;
    z-index: 9;
}
.rollimglist .l3 img {
    width: 164px;
    height: 92px;
    overflow: hidden;
}

.rollicon {
    width: 24px;
    height: 24px;
    overflow: hidden;
    background: url("../imagesV2/play.png") no-repeat;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='imagesV2/play.png', sizingMethod='scale');
    position: absolute;
    left: 54px;
    top: 87px;
    z-index: 11;
}
.rollimgtxt {
    width: 191px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #003399;
    text-align: center;
    position: absolute;
    left: 0;
    top: 107px;
}
.fNewsList {
    width: 265px;
    _width: 250px;
    float: left;
    margin-top: 10px;
    padding-left: 15px;
}

.fNewsList li {
    width: 265px;
    _width: 250px;
    line-height: 26px;
    height: 26px;
    font-size: 12px;
    background: url(../imagesV2/play.jpg) 0px 7px no-repeat;
    padding-left: 18px;
}