@charset "utf-8";
.fl{
	float: left;
}
.rt{
	float: right;
}
#head{
	width: 92%;
	background: rgb(255,81,74);
}
#head .search{
	width: 87%;
	background: #cc4136;
}
#head .searchPic{
	width: 14%;
}
#head .searchPic b{
	display: inline-block;
	border-right: 1px solid #ddd;
}

#marquee{
	 width: 84%;
	 overflow: hidden;
	 white-space: nowrap;
	 color: #fff;
	 position: relative;
}
#text1,#text2{
	position: absolute;
	left: 0;
	top: 0;
}
#marquee span{
	font-family: "微软雅黑";
}


@media screen and (min-width: 701px){

#head{
	height: 60px;
	padding: 10px 4%;
}
#head .search{
	height: 60px;
	border-radius: 10px;
}
#head .searchPic{
	height: 58px;
}
#head .searchPic b{
	width: 74px;
	height: 44px;
	background: url(icon_search_b.png) no-repeat 15px 0;
	margin-top: 8px;
}
#marquee{
	 height: 60px;
}
#marquee span{
	font-size: 40px;
	line-height: 60px;
}
}

@media screen and (max-width: 700px){

#head{
	height: 30px;
	padding: 5px 4%;
}
#head .search{
	height: 30px;
	border-radius: 5px;
}
#head .searchPic{
	width: 15%;
	height: 30px;
}
#head .searchPic b{
	width: 32px;
	height: 22px;
	background: url(icon_search_b.png) no-repeat 7px 2px;
	background-size: 50%;
	margin-top: 4px;
}
#marquee{
	width: 83%;
	height: 40px;
}
#marquee span{
	font-size: 20px;
	line-height: 30px;
}
}
