/**
NAME: Basic CSS公共层
Author:wangtong
**/
.topBox {
    height: 40px;
    background: url(http://rr.knet.cn/static/images/bigBg.jpg) repeat-x 0 0 #CC0C23;
    position: relative;
}
.topBox .innerBox {
    background: url(http://rr.knet.cn/static/images/innerBg.jpg) no-repeat;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    margin: 0 auto;
    width: 950px;
    position: relative;
}
.topBox .innerBox .spanBox {
    overflow: hidden;
    zoom: 1;
    margin-left: 500px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.topBox .innerBox .spanBox .left {
    float: left;
}
.topBox .innerBox .spanBox .showTit {
    vertical-align: middle;
    color: #FC9;
    font-size: 34px;
    font-style: italic;
    font-weight: bold;
    margin-right: 4px;
}
.topBox .innerBox .spanBox .right {
    float: right;
    display: inline-block;
    height: 38px;
    width: 96px;
}
#imgShowBox {
    background: url("http://rr.knet.cn/static/images/topS.png") no-repeat scroll 0 0 transparent;
    height: 193px;
    position: absolute;
    right: -8px;
    top: 40px;
    width: 171px;
}
.header-bg {
    width: 100%;
    height: 85px;
    background: #FFF;
    position: fixed;
    top: 33px;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 30px;
}
.header2 {
    height: 100%;
    background: #FFF;
}
.cw {
    width: 1040px;
    margin: 0 auto;
}
.header2 .L {
    width: 350px;
    height: 100%;
    background: url("/img/logo.png") no-repeat center;
    display: block;
}
.L {
    float: left;
}
.header2 .R {
    width: 690px;
    height: 100%;
}
.R {
    float: right;
}
.Rnav {
    width: 690px;
    height: 100%;
}
.Rnav > ul > li {
    float: left;
    width: 115px;
    height: 100%;
    line-height: 85px;
    text-align: right;
}
.Rnav > ul > li .thisclass {
    color: #2F87CE;
}
.Rnav li:hover > a, .Rnav li.on > a {
    color: #2F87CE;
}
.Rnav li .onnav {
    color: #2F87CE;
}
.Rnav > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 16px;
    position: relative;
    font-family: 微软雅黑;
}
.Rnav li span {
    display: block;
    width: 1px;
    height: 19px;
    background: #E9E9E9;
    position: absolute;
    left: 25px;
    top: 35px;
    font-family: 微软雅黑;
}
.Rnav li i {
    display: none;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #2D2D2D;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 20px;
}
.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .Rnav:before, .Rnav:after, .Rnavbar:before, .Rnavbar:after, .Rnavbar-header:before, .Rnavbar-header:after, .Rnavbar-collapse:before, .Rnavbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.content-wrap {
    width: 100%;
    float: left;
}
.content {
    position: relative;
    min-height: 500px;
    margin-right: 380px;
    margin-bottom: 15px;
}
.carousel {
    margin-bottom: 15px;
    position: relative;
}
.carousel-indicators {
    bottom: 6px;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #FFF;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner > .item {
    position: relative;
    display: none;
    transition: .6s ease-in-out left;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner .item a {
    display: block;
    text-align: center;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
    margin: 0;
    padding: 0;
}
body { background: #FFF; color: #000; font-size: 100%; line-height: 1.25; font-family: 'Lato', Arial, sans-serif; }
em, i { font-style: normal; }
#wrap { text-align: left; }
ul { list-style: none; }
a { text-decoration: none; }
img { border: 0 none; }
.w980 { width: 980px; margin: 0 auto; }
.w1100 { width: 1100px; margin: 0 auto; }
.w1400 { width: 1400px; margin: 0 auto; }
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clear { clear: both; }
/*外边距*/
.mt2 { margin-top: 2px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt12 { margin-top: 12px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt55 { margin-top: 55px; }
.ml0 { margin-left: 0px !important; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml12 { margin-left: 12px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml55 { margin-left: 55px; }
.ml70 { margin-left: 70px; }
/*文字居中*/
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
/*display:block*/

.disBlock { display: block; }
/*font-size*/
.ft14 { font-size: 14px; }
/*line23*/
.line23 { line-height: 23px; }
/*边框去除*/
.borderNone { border: 0 none !important; }
/*字体加粗*/

.ftW { font-weight: bold; }
/*ft0*/
.ft0 { font-size: 0px !important; }
.bknone { background: none !important; }


