@charset "utf-8";
/*Reset样式 公共样式*/
body, button, input, select, textarea {font: 12px "宋体","Helvetica","sans-serif";}
body .top-nav-wrap {  font: 12px "宋体",Arial; }
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {margin: 0; padding: 0;}
table,tr,td{ border:0;border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-weight:normal;font-style:normal; }
h1, h2, h3, h4, h5 {font-size: 100%;font-weight: normal;}
.em{text-indent:2em;}
ol,ul{ list-style:none; }
li {list-style: none outside none;}
fieldset, img, a img{border: 0 none;}
caption,th{ text-align:left; }
abbr,acronym{ border:0; }
textarea {resize: none;}
abbr, acronym {border: 0 none;font-variant: normal;}
a{text-decoration: none;outline-style:none;color:#00349a;}
a:hover {text-decoration: underline;color:#ff4901;}
.clearfix:after, .ro:after{content:".";display:block;font-size: 0;height:0;clear:both;visibility:hidden}
.clear{clear:both;*overflow:hidden;}
.text-overflow {/*display:block;*/width:100%;word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-overflow-li {word-break:keep-all;overflow:hidden;text-overflow: clip;}

