@charset "utf-8";
@import "reset.css";

.icon-elem{background-image:url("../images/elem.png");*background-image:url("../images/elem.gif");background-repeat:no-repeat;}

.about-right {float:right;width:56px;display:inline-block;position:relative;}
.about-right span{height:20px;line-height:20px;float:left;}
.about-right span.size {width:22px;*height:22px;background-position:-79px 0;cursor:pointer;margin-top:4px;}
.about-right span.code {width:22px;*height:22px;background-position:0 -23px;}
.about-right #setFontSize{display:none;}
.about-right span.size-con{display:block;position:absolute;top:27px;left:-27px;height:22px;line-height:22px;background-color:#fff;width:75px;border:1px solid #aaa; clear:both;}
.about-right span.arrow-up{width:14px;height:10px;background-position:-46px -46px;position:absolute;top:18px;left:2px;z-index:10;}
.about-right span.size-con a{width:24px;height:16px;line-height:16px;display:inline-block;float:left;color:#043396;text-decoration:none;font-size:12px;margin-top:3px;text-align:center;}
.about-right span.size-con a.mid{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}

#qrcode{position: relative;}

#qrcode .qrcodeBox{display:none;background-color:#fff; width:442px;height:128px;border:1px solid #ccc;padding:10px;position:absolute;left:-227px;top:30px;z-index: 999;zoom: 1; }
#qrcode .qrcodeBox .arrows_up{ width:15px;height:15px;position:absolute;top:-10px;_position: relative;_top:-20px;left:50%;_margin-left:-10px;}

#qrcode .qrcodeBox .arrows_up .tri_rig1{position:absolute;width:0; height:0; border-width:6px; border-color:transparent transparent #c8c8c8 transparent; border-style:dashed dashed solid dashed; overflow:hidden; top:-3px; left:0;}
#qrcode .qrcodeBox .arrows_up .tri_rig2{position:absolute;width:0; height:0; border-width:6px; border-color:transparent transparent #fff transparent; border-style:dashed dashed solid dashed; overflow:hidden; top:-2px; left:0;}

#qrcode .qrcodeBox .qrcode_left{ float:left;display: inline;width:229px;height:128px;border-right:1px solid #ddd; }
#qrcode .qrcodeBox .qrcode_left ul{width:100px;margin-right:10px;}
#qrcode .qrcodeBox .qrcode_left .qrcode_img{  background:url("../images/footer.png") no-repeat -5px -103px;}
#qrcode_auto table{margin: 0px !important;}

#qrcode .qrcodeBox .qrcode_right{float:right;display: inline;width:200px;height:128px;margin-left:10px; }
#qrcode .qrcodeBox .qrcode_right ul{width:80px;}

#qrcode .qrcodeBox h4{ font-size:12px;font-weight: bold;padding-left:10px; }
#qrcode .qrcodeBox .qrcode_info{ width:100%;height:110px;overflow: hidden; }
#qrcode .qrcodeBox .qrcode_info .qrcode_img{ width:100px;height:105px; float:left;display: inline;}
#qrcode .qrcodeBox .qrcode_info ul{float:right;display: inline;height:110px;}















