@charset "utf-8";
/*Reset样式 公共样式*/
body, button, input, select, textarea {font: 12px "微软雅黑","Helvetica","sans-serif";}
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {margin: 0; padding: 0;}
table,tr,td{ border:0;border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-weight:normal;font-style:normal; }
h1, h2, h3, h4, h5 {font-size: 100%;font-weight: normal;}
ol,ul{ list-style:none; }
li {list-style: none outside none;}
fieldset, img, a img{border: 0 none;}
caption,th{ text-align:left; }
abbr,acronym{ border:0; }
textarea {resize: none;}
abbr, acronym {border: 0 none;font-variant: normal;}
a{text-decoration: none;outline-style:none;color:#00349a;}
a:hover {/*text-decoration: underline;*/color:#ff4901;}

.clearfix:after{content:".";display:block;font-size: 0;height:0;clear:both;visibility:hidden}
.clear{clear:both;*overflow:hidden;}
.text-overflow {/*display:block;*/width:100%;word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-overflow-li {word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-ellipsis{white-space:nowrap;/*设置不折行*/ text-overflow:ellipsis;-o-text-overflow: ellipsis;/*兼容opera*/overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.em{text-indent:2em;}



#sidebar{
    width:35px;
    background-color: #e1e1e1;
    padding-top:200px;
    position:fixed;
    min-height:100%;
    z-index: 100;
}
.item{
    text-align:center;
    margin-top:5px;
}
#closeBar{
    position:absolute;
    bottom:30px;
    width:35px;
    text-align:center;
    cursor:pointer;
}

.nav-content{
    width:200px;
    position:fixed;
    top:0;
    min-height:100%;
    background-color:#e1e1e1;
    border:1px solid #000000;
    z-index: 99;
    /*opacity: 0;*/
}
.nav-con-close{
    position:absolute;
    right:5px;
    top:5px;
}







