@charset "utf-8";
/*Reset样式 公共样式*/
body, button, input, select, textarea {font: 12px "宋体","Helvetica","sans-serif";}
body .top-nav-wrap {  font: 12px "宋体",Arial; }
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {margin: 0; padding: 0;}
table,tr,td{ border:0;border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-weight:normal;font-style:normal; }
h1, h2, h3, h4, h5 {font-size: 100%;font-weight: normal;}
.em{text-indent:2em;}
ol,ul{ list-style:none; }
li {list-style: none outside none;}
fieldset, img, a img{border: 0 none;}
caption,th{ text-align:left; }
abbr,acronym{ border:0; }
textarea {resize: none;}
abbr, acronym {border: 0 none;font-variant: normal;}
a{text-decoration: none;outline-style:none;color:#00349a;}
a:hover {/*text-decoration: underline;*/color:#ff4901;}
.clearfix:after, .ro:after{content:".";display:block;font-size: 0;height:0;clear:both;visibility:hidden}
.clear{clear:both;*overflow:hidden;}
.text-overflow {/*display:block;*/width:100%;word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-overflow-li {word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-ellipsis{white-space:nowrap;/*设置不折行*/ text-overflow:ellipsis;-o-text-overflow: ellipsis;/*兼容opera*/overflow: hidden;}
.fl{float:left;}
.fr{float:right;}

.main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.clh{background: #fff none repeat scroll 0 0; overflow: hidden; padding: 20px; position: relative; width:960px;}
.btn{height: 45px; position: absolute; top: 10px; width: 41px;}
.lft{background: url("../images/left1.png") no-repeat scroll 0 0;left: 25px;}
.rht{background: url("../images/right1.png") no-repeat scroll 0 0; left: 934px;}
.lft0{background: url("../images/left0.png") no-repeat scroll 0 0;left: 25px;}
.rht0{background: url("../images/right0.png") no-repeat scroll 0 0;left: 934px;}
.clh .sj_div{background: url("../images/sj_div.png") no-repeat scroll 0 0;_background: url("../images/sj_div.gif") no-repeat scroll 0 0; height: 10px;position: absolute;left:22px;top:52px;  _left: 23px;_top: 55px;width: 311px;z-index:10;}
.hidden{height:40px;overflow:hidden;width:940px;_position:relative;}
.clh ul{overflow: hidden; width: 3500px; position:relative;}
.clh ul li{border-bottom: 2px solid #d7d7d7; float: left; margin-left: 2px; padding-bottom: 8px; text-align: center; width: 311px; _position:relative;_height:26px;}
.clh ul li a{color: #2b2b2b; font-family: "Microsoft YaHei"; font-size: 18px; _position:relative;}
.clh ul li .active{color: #2b2b2b; font-weight: bold;}
.clh .li_cont{display: none; margin-top: 10px;}
.clh .blk{display: block; _display:inline-block;}
.li_div{padding: 20px;}
.li_div .li_cont{overflow: hidden;}
.li_div .li_cont .li_cont_left{display: block; float: left; position: relative; width: 400px;}
.li_div .li_cont .li_cont_left img{height: 340px; width: 400px;}
.li_div .li_cont .li_cont_left .li_opa{background: #000 none repeat scroll 0 0; height: 30px; left: 0; opacity: 0.5; position: absolute; top: 309px; width: 400px;}
.li_div .li_cont .li_cont_left .li_opa_text{color: #fff; display: block; font-size: 14px; left: 5px; position: absolute; text-align: left; top: 314px; width: 400px; z-index: 9;}
.li_div .li_cont .li_cont_right{display: block; float: left; /* margin-left: 20px; */ width: 520px; padding-top: 20px; height: 320px; background:#F7F7F7 url("../images/xg.png") no-repeat scroll 0 0}
.li_div .li_cont .li_cont_right .li_cont_right_p{margin-bottom: 20px; padding-bottom: 0px; text-align: left; margin-left:60px;width: 460px;height: 80px; overflow: hidden;}
.li_div .li_cont .li_cont_right .li_cont_right_p .li_cont_title{color: #003598; display: block; font-size: 18px; height: 30px; font-weight: bold; margin-top: 0;}
.li_div .li_cont .li_cont_right .li_cont_right_p .li_cont_text{color: #585858; display: block; font-size: 14px; font-family: 微软雅黑; line-height: 25px;}





































