@charset "utf-8";
@import "reset.css";

.w690 {width: 690px;_width: 700px;}
.pr10 {padding-right: 10px;  }
.bl {border-right: 1px solid #e4eef6;}
.page{float:left;overflow: hidden;display: block; }

.titlebar{width:100%;height:37px;border-bottom:2px solid #2f5895;}
.titlebar .siteMap{padding-left:10px;line-height:37px;}

/*新闻内容列表*/
.repeatList{margin-top:5px;width:100%;}
.repeatList ul{}
.repeatList ul li{padding:10px 0;border-bottom:1px solid #c4ccf6;vertical-align:top;position:relative;width:100%;overflow: hidden;}
.repeatList ul li.first{border-top:1px solid #c4ccf6;}

.repeatList ul li .image{float:left;display:block;vertical-align:top;padding:0 12px 0 5px;font-size:0;}
.repeatList ul li .image a img{width:120px;height:88px;}
.repeatList ul li .text{float:left;display:block;width:530px;}
.repeatList ul li .text .title{font:18px "微软雅黑","simhei";height:36px;width:500px;overflow: hidden}
.repeatList ul li .text .title a{width:500px;word-break: keep-all;overflow:hidden;text-overflow:ellipsis;font:20px "微软雅黑","simhei";}
.repeatList ul li .text .info{color:#818181;height:52px;line-height:26px;overflow:hidden;}
.repeatList ul li .text .time{color: #818181;line-height: 22px;text-align: right;display: inline-block; position: absolute; bottom: 5px;right: 10px;}

.repeatList ul li .share{width:108px;height:50px;float: right;position: absolute;top: 20px; right: 10px; z-index: 2;}
.repeatList ul li .share .shareIco{float:right;display:block;margin-right:5px;width:14px;height:14px;cursor: pointer;background:url("../images/icon.png") no-repeat 0px -1611px;_background:url("../images/icon2.png") no-repeat 0px -1052px;}
.repeatList ul li .share .shareContent{display:none;border: 1px solid #E2E2E2;float: right;height: 27px;width: 90px;z-index: 3;background-color: #FFFFFF;}
.repeatList ul li .share .shareContent a{display: block;font-family:"宋体",Arial;height:16px;float:left;padding:6px 0 3px 22px;background:url("../images/is.png") no-repeat;}
.repeatList ul li .share .shareContent a:hover{color:#333;opacity:0.8;filter:alpha(opacity=100);}
.bds_iguba{background-position:0 -1315px !important;}
.bds_tsina{background-position:0 -115px !important;}
.bds_qzone{background-position:0 -75px !important;}
.bds_tqq{background-position:0 -235px !important;}

.repeatList .pagerbox{clear:both;display:block;font-size:14px !important;height:22px;width:100%;overflow: hidden;margin:20px 0;}
.repeatList .pagerbox .pager{float:left;display: block;font-size:12px;height:22px !important;left:50%;line-height:14px;position:relative;}
.repeatList .pagerbox li{float:left;display:block;width:10px;text-align:center;background-color:#fff;color:#3669ba;border:1px solid #c8d8f2;margin:0 2px;position:relative;right:50%;cursor:pointer;padding:4px 8px 2px;}
/*.repeatList .pagerbox li:hover{border:1px solid #286eb4;}*/
.repeatList .pagerbox li.first{display:block;width:40px;}
.repeatList .pagerbox li.last{display:block;width:40px;}
.repeatList .pagerbox li.at{color:#fff;background-color:#286eb4;border:1px solid #286eb4;cursor: default;}







