body, button, input, select, textarea {font: 12px "宋体","Helvetica","sans-serif";}
body .top-nav-wrap {  font: 12px "宋体",Arial; }
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {margin: 0; padding: 0;}
table,tr,td{ border:0;border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-weight:normal;font-style:normal; }
h1, h2, h3, h4, h5 {font-size: 100%;font-weight: normal;}
.em{text-indent:2em;}
ol,ul{ list-style:none; }
li {list-style: none outside none;}
fieldset, img, a img{border: 0 none;}
caption,th{ text-align:left; }
abbr,acronym{ border:0; }
textarea {resize: none;}
abbr, acronym {border: 0 none;font-variant: normal;}
a{text-decoration: none;outline-style:none;color: #043396;}
a:hover {text-decoration: underline;color:#ff4901;}
.clearfix:after, .ro:after{content:".";display:block;font-size: 0;height:0;clear:both;visibility:hidden}
.clear{clear:both;*overflow:hidden;}
.text-overflow {/*display:block;*/width:100%;word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-overflow-li {word-break:keep-all;overflow:hidden;text-overflow: clip;}
.fl{float:left;}
.bgColor{ background:#305895;}
.bgColor a{color:#fff !important;}

#header .market .title{text-align:right; float:left; width:95px;height:26px;line-height: 26px;border-right:1px
solid #B5B5B5; background:url(http://stock.eastmoney.com/imagesV2/zxgbg.png)  -174px -111px no-repeat; _background:url(http://stock.eastmoney.com/imagesV2/zxgbg.gif)  -174px -111px no-repeat;}
#header .market .E{background-position: -174px -142px;background-repeat:no-repeat; }
#header .market .F{background-position: -147px -285px;background-repeat: no-repeat; _background-position: -147px -278px; }
#header .market .D{background-position: -174px -174px;background-repeat:no-repeat; }
#header .market .title a{ padding-right:5px; color:#393939; font-weight:bold;}

/* 工具box */
#header .mebo {border: 2px solid #2f5895;border-bottom-width:1px;margin-top: 2px;width: 996px; float:left;}
#header .mebo .br_line{border-right:solid 1px #c4c1c1;}
#header .mebo .bb_line{border-bottom:solid 1px #2f5895;}
#header .mebo .hbox,#header .mebo .lbox{width: 100%; overflow:hidden;}
#header .mebo .hbox .blt,#header .mebo .hbox .brt{float:left;line-height:30px;height:30px;}
#header .mebo .lbox .blt,#header .mebo .lbox .brt{float:left;}
#header .mebo .hbox .blt,#header .mebo .lbox .blt{border-right:solid 1px #c4c1c1; width:498px}
#header .mebo .hbox .lable,#header .mebo .lbox .lable{ float:left; padding:0 8px; _width:75px;}
#header .mebo .hbox .lable b{margin:8px 2px 0 0; float:left;}
#header .mebo .hbox .lable a{font-weight:bold;color:#3f3f3f;}
#header .mebo .hbox .detl{padding-left:10px;}
#header .mebo .hbox .detl a.hot{position:relative;}
#header .mebo .hbox .detl .rbox{ float:right; margin-right:10px;_margin-right:0;}
#header .mebo .hbox .detl .rbox div{float:left;}
#header .mebo .hbox .detl .rbox .text{height: 20px;line-height: 20px; padding: 0 5px; color: #666;width:213px; }
#header .mebo .hbox .detl .rbox .btnbox img{padding:4px 0 0 3px;*padding-top:1px;_padding-top:4px; cursor:pointer; }
#header .mebo .lbox .font{ font-size:18px;font-family:'微软雅黑';color:#3f3f3f;padding:5px 20px 0 10px; _margin-top:2px;}
#header .mebo .hbox .detl .rbox .ipbox{line-height: 20px; height: 20px; padding-top: 4px;*padding-top: 3px;}
#header .mebo .lbox  p.a{ line-height:25px; padding-top:5px;_height:22px;_padding-bottom:10px;}
#header .mebo .lbox  p.b{ line-height:25px; padding:0 0 5px;_margin-bottom:4px; _margin-top:-11px;}
#header .mebo .lbox .b .lable{padding:0 10px 0 9px; _margin-top:10px;_padding-right:16px;}
#header .mebo .hbox .brt .fl_w{ width:100px; float:left;display: inline;}
#header .mebo .hbox .brt .fr_w{ width:896px;float:left;display: inline; }
#header .mebo .hbox .detl .mbox{float: left;width: 44px;}
#header .mebo .hbox .detl .cbox{float: left; height:30px;overflow:hidden;}

#header .mebo .hbox .detl .mbox b {cursor: pointer;float: left;height: 14px;margin-left: 6px;margin-top: 8px;width: 14px;}
#header .mebo .hbox .detl .mbox b{background: url("http://hqres.eastmoney.com/EMQuote_Lib/img/publicel140109.gif") repeat scroll 0 0;}
#header .mebo .hbox .detl .mbox b.up {background-position: -192px -124px;background-repeat: no-repeat;}
#header .mebo .hbox .detl .mbox b.down {background-position: -173px -124px;background-repeat: no-repeat;}
#header .mebo .hbox .detl .mbox a.blue {color: #039;}
#header .mebo .hbox .detl .cbox strong{font-weight:bold;}
#header .mebo .hbox .detl .blue{margin-left:5px;   }


#header .mebo .hbox .detl .mbox li {clear: both;height: 19px;}
#header .mebo .hbox .detl .mbox b {font-family: Arial;font-weight: bold;padding-right: 2px;}
