/* 头部开始 */
.header{

	width: 1000px;
	height: 60px;
	margin:30px auto 0;
	padding-top:18px;
	padding-bottom:12px;
}
.header .inheader{
	float: left;
padding-top:10px;

}

.header .notice{
	float: left;

}
.header .logo{margin-right: 130px;}
.notice1,.notice2,.notice3,.notice4{
margin-right: 55px;
}
.header .notice5{float: right;}


 /* 搜索 */
/*stock_search查询部分*/
.fl a{margin-right:15px;}
.f2 a{margin-right:20px;}
#header{
width: 1000px;
margin:0 auto;	

}
#header .sc-search{height:30px;float:right;width:280px;overflow:hidden;margin-right:10px;}
#header .sc-search .tipform{float:left;margin:5px 0 0 5px;overflow:hidden;width:280px}
#header .sc-search .tipform input{background:url(images/bg1.png) no-repeat scroll 5px center #fff;
border:1px solid #a4a4a4;color:#a4a4a4;font-size:12px;height:18px;line-height:18px;overflow:hidden;padding:0 4px 0px 20px;
width:145px;float:left}
#header .sc-search span.btnn{margin:0 0 0 3px;display:inline;overflow:hidden;float:left}
#header .sc-search span.btnn button{background:none repeat scroll 0 0 #f2f2f2;border:0;color:#2f5895;
 cursor:pointer;display:block;font-family:"宋体";height:20px;line-height:20px;overflow:hidden;text-align:center;width:46px}



/* 内容部分开始 */
.content1{
	width: 1000px;
	height: 500px;
	margin:0 auto;
	padding-top:18px;
 	/* padding-bottom:23px; */
	/* border: 1px solid #000; */
}


/*美股导读开始新闻*/
#newsFirst .fistTitle { overflow: hidden;line-height: 34px;font-family: 'Microsoft Yahei',SimSun,sans-serif,Arial;font-size: 28px;text-align: left;font-weight:bold;cursor: pointer;}
#newsFirst p {width: 500px;height: 40px;overflow: hidden;line-height: 24px;text-align: left;padding-left: 0px;}
#newsFirst p a {padding-left: 10px;font-size: 14px;font-family:宋体;
  background: url(images/dot.jpg) 0px center no-repeat;    

}


/* #newsFirst .fistTitle { overflow: hidden;height:44px;
   
    font-family: 'Microsoft Yahei',SimSun,sans-serif,Arial;font-size: 28px;padding-left: 10px;font-weight: 600;cursor: pointer;}
#newsFirst p {height: 33px;overflow: hidden;text-align: left;padding-left: 0px;}
#newsFirst p a {padding-left: 10px;font-size: 16px;} */
/* 内容部分结束 */


.content1 .conleft{float: left;
/* border: 1px solid #000; */

}
.incontent1{
 width: 664px;
 height: 430px;
 _height: 410px;
 /* border: 1px solid #f40;   */    
}
.incontent1 .picture{
float: left;
width: 240px;
height: 210px;
}
.incontent1 .inpicture {
 padding-top:10px;   
}
.incontent1 .news1{
float: left;
width: 400px;
margin-left:20px;

}
.news1 ul{

}

.news1 li{
height: 45px;	
border-top: 1px solid #999;
padding: 0 10px;
height: 45px;

overflow: hidden;

}
.news1 li.bt1{
border-bottom: 1px solid #999;
}
.news1 li a{
font-size: 20px;
line-height: 45px;	

}

.pic1{
padding-top: 16px;

}
.inpic1{
width: 400px;
height: 40px;
background:url(images/020.jpg) 0 0 no-repeat;  
}
.inpic1 a{
    width: 100px;
    height: 40px;
    float: left;
    /* display:inline-block;
    *display:inline;推荐:IE67 */
}

.content1 .conright{
	float: right;
	/* border: 1px solid #000; */
	width: 322px;
	height: 500px;
    _height: 480px;
	
}
.conright .box1{
	border: 1px solid #f2f2f2;
	height: 165px;
    width: 320px;

}
.conright .inbox1{
    padding-left: 10px;
    padding-right: 20px;

}
.conright ul{
width: 290px;
border-bottom: 1px solid #2f5896;

}

.conright .w320{
    width: 320px;
}
.conright li{
	float: left;
	
	

}
.conright li.current1{
border-bottom: 2px solid #305895;	
}
.conright li a{
	color:#000000;
	font-size: 14px;
	padding:0px 10px;
	line-height:40px;
    height:40px;
    font-family:宋体;
	
}

.box2 li a{
    color:#000000;
    font-size: 16px;
    padding:5px;
    line-height:40px;
    font-family:微软雅黑;
    
}

.conright li a:hover{
	color:#ff4901;
}

.remark{
	padding-top: 5px;
}


.btnNew{
    float: left;
    
    cursor: pointer;
    background-color: #4F78BD;
    height: 30px;
    _height: 30px;
    width: 85px;
    color: hsl(0, 100%, 100%);
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}	

 .inp-txt
{
	float: left;
    width: 165px;
    color:#a4a4a4;
    margin: 0;
    height: 28px;
    border: 1px solid #2f5895;
    
    line-height: 28px;
    padding: 0px 0 0px 35px;
    font-size: 14px;
    _height: 28px;
    _line-height: 28px;
    font-family: "Arial","SimSun","宋体";
   background:url(images/bg2.png) no-repeat scroll 10px center;
}
.hss{
	
	line-height: 44px;
}

/* 新三板行情开始 */
.red{
    color:#e30000;

}

.green{
    color:#009900;

}
.w60{
    width: 60px;
}

.w80{width: 80px;}
.table td{
    text-align:center;
    height: 30px;
    overflow: hidden;
    
}

.w240{
    width: 240px;

}
.newhq{
	width: 1000px;
	/* height: 1000px; */
	margin:0 auto;
	padding-bottom:12px;
	/* border: 1px solid #000; */
}

.col4{
    float: left;
    margin-right:20px;

}

.w320{
    width: 320px;
}
.table{
  width: 320px;  
}
.cbu{
 margin-right:0px;   
}
.col4 th{
text-align: center;
}
.col4 tr{
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    width: 320px;
}

.col4 tr.bt2{
  border-bottom: 1px solid #999;

}



.col4 tr td{
    /* padding:5px 10px; */
}

.tableline4 tr td{
  /* padding:5px 22px;   */
}

.panel {
    border: solid 1px #ddd;
    border-radius: 4px;
}

.panel-head {
    
    padding: 10px 15px;
    /* border-radius: 4px 4px 0 0; */
    border-bottom: solid 1px #ddd;
   
}

.panel-title {
    font-weight: 900;
    font-size: 14px;
    padding: 12px 15px;
    color:#000;
    border-bottom: 3px solid #FF4802;
}

.panel-more {
    float: right;
    display: inline-block;
    line-height: 30px;
    height: 30px;
}

.panel-foot {
    padding:0 10px;
    height: 30px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.panel-foot a{
line-height: 30px;
float: right;
}

.panel-body {
    /* padding: 10px 0px; */
}



.panel-primary {
    border: 0;
}

.panel-primary .panel-head {
    padding-left: 0;
    border-top:0;
}
.panel-primary .panel-title {
    font-family: 微软雅黑;
    font-size: 22px;
    /* padding: 10px 15px; */
    _padding: 8px 15px;
    color:#ff4901;
    border-bottom: 3px solid #ff4901;
    _border-bottom: 5px solid #ff4901;
    font-weight:200;
}



.panel-primary .panel-body {
    border-top: 3px solid #305895;
}


.panel-default {
    border: 0;
}
.panel-default .panel-head {
    padding-left: 0;
    border-bottom: 0;
}
.panel-default .panel-title {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 12px;
    color:#000;
    border-bottom: 3px solid #305895;
    cursor:pointer;

}

.panel-titlenoneline{

font-weight: 500;
font-size: 16px;
/* padding: 10px 12px; */
color:#000;
cursor:pointer;
font-family:微软雅黑;
    
}

.panel-default .panel-body {
    border-top: 1px solid #305895;
}



/* 新三板学校 */
.page-panel-body-s{
 border-bottom: 1px solid #999;
 height: 208px; 
}
.panel-body li{
    height: 30px;
 line-height:30px; 
 overflow: hidden;  

}

.cl{
background: url(images/dot.jpg) 10px 12px no-repeat;
padding:0 20px;
overflow: hidden;    

}

.panel-body li a{
    font-size: 14px;
    
    font-family: 宋体;
    
}

.introduce{
    float: left;
}
.introduce li{
 padding-left:10px;   
 width: 135px;
 height: 30px;
 background-color: #EEEEEE;   
margin-bottom:10px;
}
.introduce li.current{
  background-color: #2F5895;
   color:#fff; 
}

.introduce li.current a{
  
   color:#fff; 
}
.introduce li a{
    color:#3F3F3F;
    font-size:12px;

}

.wz{
float:left;
width: 496px;
padding-left:18px;

}
.wz h2{
height: 33px;
line-height: 33px;
font-size:14px;
text-align: center;    
}
.wz p{
height: 25px;
line-height: 25px;
font-size:12px; 
color:#000; 
font-family: 宋体; 
}

/*  新市场统计开始  */
.w130{
    width: 130px;

}

.w840{
    width: 840px;
}
.w1000{
    width: 1000px;
}

.fz12 li a{
    font-size: 12px;

}
/*  新市场统计结束  */