@charset "utf-8";
/* CSS Document */
.main {
    width: 100%;
    height: auto;
}
.banner {
    width: 100%;
    height: 840px;
    background: url(../img/banner.png) no-repeat center top;
}
.company {
    width: 90%;
    background-color: #FFF;
    text-align: center;
    font-size: 30px;
    padding: 20px 5% 40px 5%;
    font-family: FreesiaUPC;
    color: #777;
}
/*case部分*/
.case {
    width: 100%;
    height: auto;
    background-color: #DDDEE0;
    padding-bottom: 50px;
}
.case_t {
    width: 100%;
    height: auto;
    background-color: #FFF;
}
.case_top {
    width: 500px;
    height: 70px;
    background-color: #01414D;
    text-align: center;
}
.case_top span {
    font-family: FreesiaUPC;
    color: #FFF;
    font-size: 100px;
    line-height: 70px;
}
.case_title {
    width: 0;
    height: 0;
    border-width: 35px;
    border-style: solid;
    border-color: #01414D transparent transparent #01414D;
    position: relative;
    top: -70px;
    left: 500px;
}
.case_main {
    width: 100%;
    text-align: center;
}
.case_main > div {
    display: inline-block;
    margin: 20px 0px;
    float: none;
    text-align: center;
}
.logo-container {
    display: block;
    vertical-align: middle;
    text-align: center;
}
/*team部分*/
.team {
    width: 100%;
    height: 500px;
}
.team_top {
    width: 100%;
    margin-top: 110px;
    border-bottom: 2px solid #AEAEAE;
}
.team_title {
    height: 200px;
    background: url(../img/team.png) no-repeat center;
    position: relative;
    top: -115px;
}
.team_main {
    width: 90%;
    padding: 0 5%;
    height: 500px;
    position: relative;
    top: -115px;
}
.team_w {
    width: 1200px;
    margin: 0 auto;
}
.team_main ul li {
    width: 200px;
    height: 200px;
    border: 1px solid #FFF;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 50%;
    position: relative;
}
.team_main ul li a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}
.team_main ul li a img {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
}
.team_main .team_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}
.team_main .team_modal { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999; }
.team_main .team_modal .modal_bg { width: 100%; height: 100%; background: rgba(0, 0, 0, .5); }
.team_main .team_modal .modal_content {
    padding: 15px;
    width: 400px;
    height: 200px;
    background-color: #FFF;
    box-shadow: 0 0 2px 5px #000;
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
}
.team_main .modal_content .close {
    line-height: 22px;
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 0;
}
.team_main .modal_content .modal_cont_item {
    font-size: 20px; color: #000;
}
.team_main ul .forwards1 {
    animation: Forwards1 1s linear forwards;
    -webkit-animation: Forwards1 1s linear forwards;
}
.team_main ul .forwards2 {
    animation: Forwards2 1s linear forwards;
    -webkit-animation: Forwards2 1s linear forwards;
}
@-webkit-keyframes Forwards1 {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }
    100% {
        opacity: 1;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
}
@keyframes Forwards1 {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }
    100% {
        opacity: 1;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
}
@-webkit-keyframes Forwards2 {
    0% {
        opacity: 1;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
}
@keyframes Forwards2 {
    0% {
        opacity: 1;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
}
