@charset "utf-8";
body ,ul,li{ margin:0;padding:0; }
ul, ol, li {list-style-type:none;vertical-align:0}
a img {border:0}

.modal_bg{position:absolute;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,.3);}
.main_visual{width:100%;height:80%;overflow:hidden;position:absolute;top:10%;background-color:#fff;}

.main_image{width:100%;height:75%;overflow:hidden;position:relative;}
.main_image ul{height:100%;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{height:100%;}
.main_image li img{display:block;width:100%;height:100%;}

.main_visual .flicking_con{position:absolute;bottom:0;left:50%;z-index:999;width:100%;height:auto;margin:0 0 0 -50px;}
.main_visual .flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;font-size:0;}
.main_visual .flicking_con a.on{background-position:0 -21px}
