* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	color: #333;
}

.demo {
	padding: 15px;
}

.d1 {
	background-color: #000;
	color: #fff;
}

.d2 {
	background-color: #8c8c8c;
	color: #000;
}

button {
	margin-top: 20px;
	margin-left: 20px;
	padding: 8px 15px;
	border-radius: 5px;
	border: 1px solid #0a6aa1;
	background-color: #0A6AA1;
	color: #fff;
	outline: none;
}

button:active {
	border: 1px solid #0aa7d6;
	background-color: #0AA7D6;
}