@charset "utf-8";
/*Reset样式 公共样式*/
body, button, input, select, textarea {font: 12px "微软雅黑","Helvetica","sans-serif";}
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {margin: 0; padding: 0;}
table,tr,td{ border:0;border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-weight:normal;font-style:normal; }
h1, h2, h3, h4, h5 {font-size: 100%;font-weight: normal;}
ol,ul{ list-style:none; }
li {list-style: none outside none;}
fieldset, img, a img{border: 0 none;}
caption,th{ text-align:left; }
abbr,acronym{ border:0; }
textarea {resize: none;}
abbr, acronym {border: 0 none;font-variant: normal;}
a{text-decoration: none;outline-style:none;color:#00349a;}
a:hover {/*text-decoration: underline;*/color:#ff4901;}

.clearfix:after{content:".";display:block;font-size: 0;height:0;clear:both;visibility:hidden}
.clear{clear:both;*overflow:hidden;}
.text-overflow {/*display:block;*/width:100%;word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-overflow-li {word-break:keep-all;overflow:hidden;text-overflow: clip;}
.text-ellipsis{white-space:nowrap;/*设置不折行*/ text-overflow:ellipsis;-o-text-overflow: ellipsis;/*兼容opera*/overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.em{text-indent:2em;}

p{ width:200px; position:relative;left:100px;top:100px;}
#getcity{text-align: center;cursor:pointer;width:80px;}

/*城市定位*/
.citiesBox{width:400px;position:absolute;padding:15px;border:2px solid #c9cbce;background-color:#fff;z-index:9999;*zoom:1;top:30px;left:30px;}
.citiesBox .triangle_up{position:absolute;left:20px;border-width:10px;border-style:solid;*zoom:1;}
.citiesBox .bg_a{border-color: transparent transparent #ffffff;top: -17px;*top: -34px;z-index: 10001;}
.citiesBox .bg_b{border-color: transparent transparent #c8c8c8;top: -20px;*top: -37px;z-index: 9998;}
.citiesBox .bgon{background: #f3f3f3;color: #53a302;}

.citiesBox h4{width:100%;font-size:14px;font-weight:bold;color:#333;margin-bottom:10px;}
.citiesBox .closeBtn{position:absolute;right:15px;top:15px;*zoom:1;cursor:pointer;}

.citiesBox .hotCity{width:100%;border-bottom:1px solid #d8d8d8;padding-bottom:10px;margin-bottom:15px; }
.citiesBox .hotCity .hotCities{ border:none;margin:0 -5px;overflow: hidden;}

.citiesBox .selector_cityName {width:62px;font-size:14px;text-align:center;}
.citiesBox .hotCities li,
.citiesBox .provenceList li,
.citiesBox .cities li{ float:left;display:inline;padding:5px;margin:0 5px 10px;background-color:#fafafa;cursor:pointer;color:#999;}

.citiesBox li:hover,
.citiesBox .provenceList .provName span:hover{background: #f3f3f3;color: #53a302;}

.citiesBox .provenceList .provName{height: 32px;width: 60px;margin:0 5px 0 0;padding: 0;position: relative;*zoom:1;}
.citiesBox .provenceList .provName span{display: block;height: 30px;line-height:30px;border: 1px solid #fafafa;background: #fafafa;padding: 0 5px;width: 45px;text-align: center;}
.citiesBox .provenceList .provName .curbg{background:#fff;border-color: #d8d8d8;border-bottom-color:#fff;position:relative;left:0;top:0;z-index:100;  }
.citiesBox .provences .provenceList .provName .cities{display: none;position: absolute;top: 30px;left: -17px;z-index: 99;*zoom:1;width: 410px;background: #fff;border: 1px solid #d8d8d8;padding: 0;padding-top: 10px;*padding-bottom:10px;margin: 0;}





