﻿@charset "utf-8";
@import url(reset.css);
.Hqzx{ float: left;display: block;overflow:hidden;width:289px; }

.Hqzx .titlebar {width:100%;height:37px;border-bottom:2px solid #2F5895;position:relative;}
.Hqzx .titlebar .siteMap {line-height:37px; padding-left:10px;}
.Hqzx .titlebar h2 {padding:0 10px;height:34px;overflow:hidden;line-height:34px;font-family:'Microsoft Yahei',SimSun,sans-serif,Arial;font-size:18px;color:#000;background:#FFF;position:absolute;left:0;top:0;}
.Hqzx .titlebar h2 a {color:#000;}
.Hqzx .tabList .custom ul li{width:25%; display:inline-block;}
.Hqzx .tabList ul.h28 li{height:28px; line-height:28px;_height:27px; _line-height:27px;}
.Hqzx .tabList ul.fn li{ float:none;text-align:left;display:block;}
.Hqzx .titlebar .more {height:24px;line-height:24px;text-align:right;position:absolute;right:12px;top:8px;}
.Hqzx .titlebar .more a {color:#003399;}
.Hqzx .titlebar .more a:hover {color:#F00;}
.Hqzx .titlebar .date {line-height:37px; font-size:12px;padding-left:10px; font-weight:normal;}
.Hqzx .content .titlebar{overflow:hidden;}

/*行情中心*/
.Hqzx .stockCenter{margin-top:5px}
.Hqzx .mainRight .stockCenter{/*background:0*/}
.Hqzx .sc-tabs{position:relative;width:289px;border-bottom:1px solid #bbd4e8;height:27px}
.Hqzx .sc-tabs dl{position:absolute;width:100%;height:28px;top:0;left:0;padding-left:1px !important;padding-left:2px;z-index:0}
.Hqzx .sc-tabs dl dt{float:left;height:27px;line-height:27px;overflow:hidden;border:1px solid #bbd4e8;border-bottom:0;text-align:center;background-position:0 -39px;margin-left:-1px;cursor:pointer;position:relative;z-index:1}
.Hqzx .sc-tabs dl dt.at{height:27px;line-height:27px;background:0;background-color:#FFF;border-top:1px solid;border-color:#bbd4e8;z-index:2}
.Hqzx .sc-tabs dl dt a{display:block;text-decoration:none;color:#000;width:43px}
.Hqzx .sc-tabs dl dt.at a{color:#3f3f3f;width:43px}
.Hqzx .sc-cont{border-top:0;background-color:#fff;position:relative}
.Hqzx .sc-cont-tabs{height:21px;padding:5px 5px 0}
.Hqzx .sc-cont-tabs dt,.sc-cont-tabs dd{float:left}
.Hqzx .sc-cont-tabs dd{margin:0 3px;color:#cbcbcb;line-height:19px}
.Hqzx .sc-cont-tabs dt span{float:left;height:21px;line-height:18px;overflow:hidden}
.Hqzx .sc-cont-tabs dt a{display:inline-block;height:18px;overflow:hidden;padding:0 4px;text-decoration:none;color:#3f3f3f}
.Hqzx .sc-cont-tabs dt a:hover{color:#ff4901}
.Hqzx .sc-cont-tabs dt.at span{background:url(http://g1.dfcfw.com/g1/201305/20130524100633.png) no-repeat center 17px}
.Hqzx .sc-cont-tabs dt.at span a{background-color:#3a5e95;color:#fff;font-weight:bold}
.Hqzx .sc-cont-tabs dt.at span a:hover{color:#fff !important}
.Hqzx .sc-cont-img{height:125px;overflow:hidden;background:url(http://g1.dfcfw.com/g1/201209/20120927171246.gif) 50% 50% no-repeat}
.Hqzx .sc-cont-img .piclink{float:left;margin-left:1px;width:215px;overflow:hidden}
.Hqzx .sc-cont-img img{margin-left:-6px}
.Hqzx .sc-cont-imglink{position:absolute;float:left;display:inline;width:34px;height:104px;overflow:hidden;margin:16px 0 0;left:228px;top:30px;z-index:101}
.Hqzx .sc-cont-imglink li{ background:none repeat scroll 0 0 #cae5fb;color:#404040;height:14px; line-height:14px;margin:1px 0 0;overflow:hidden;padding:5px 0 4px;text-align:center}
.Hqzx .sc-cont-imglink li a{color:#333;text-decoration:none}
.Hqzx .sc-cont-imglink li a:hover{color:#c00}




























