@charset "utf-8";
header{
    display:block;
    margin:0 auto;
    width:100%;
    text-align: center;
    font-family: Arial;
}

header h1{
    font-size:40px;
    font-weight:bold;
}
header #newgamebutton{
    display:block;
    margin:20px auto;

    width:100px;
    padding:10px;
    background-color:#8f7a66;

    color:#fff;
    border-radius:10px;
    text-decoration:none;
}

header #newgamebutton:hover{
    background-color:#9f8b77;
}

header p{
    font-size:25px;
    margin:20px auto;
}



#grid_container{
    width:460px;height:460px;
    padding:20px;
    margin:50px auto;
    background-color:#bbada0;
    border-radius:10px;

    position:relative;
}

.grid_cell{
    width:100px;height:100px;
    border-radius:6px;
    background-color:#ccc0b3;

    position:absolute;
}

.number_cell{
    border-radius: 6px;
    font-weight:bold;
    line-height:100px;
    text-align:center;
    font-size: 60px;

    position:absolute;
}














