@charset "utf-8";
body,ul,li,a{margin:0;padding:0;list-style:none;text-decoration:none;}

/*旋转木马必要样式*/
.poster-main{position:relative;width:400px;height:135px; }
.poster-main a,.poster-main img{ display: block;}
.poster-main .poster-list{width:100%;height:100%; }
.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;}
.poster-main .poster-btn{cursor:pointer;position:absolute;top:0;opacity:0.8;z-index: 10;}
.poster-main .poster-prev-btn{left:0;background:url("../images/btn_l.png") no-repeat center center;}
.poster-main .poster-next-btn{right:0;background: url("../images/btn_r.png") no-repeat center center;}









