<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<!--声明式渲染-->
<div id="app">
    <p>{{message}}</p>
    <input type="text" v-model="message" />
</div>

<div id="app-2">
    <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
</div>


<!--条件与循环-->
<div id="app-3">
    <p v-if="seen">Now you see me</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>


<!--处理用户输入-->
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>


<!--用组件构建（应用）-->
<div id="app-7">
    <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
</div>


<script src="../lib/vue.js"></script>
<script src="demo.js"></script>
</body>
</html>